argon2-cffi
argon2-cffi-bindings
asttokens
atomicwrites
attrs
autopep8
backcall
bcrypt
beautifulsoup4
bleach
bs4
build
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
commonmark
comtypes
contourpy
convertdate
cryptography
cycler
debugpy
decorator
defusedxml
dill
docutils
entrypoints
et-xmlfile
executing
fastjsonschema
fonttools
greenlet
hijri-converter
holidays
idna
image
importlib-metadata
ipykernel
ipython
ipython-genutils
jaraco.classes
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
keyring
kiwisolver
korean-lunar-calendar
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
more-itertools
msal
msedge-selenium-tools
multiprocess
nbclient
nbconvert
nbformat
nest-asyncio
notebook
ntlm-auth
numpy
Office365-REST-Python-Client
opencv-python
openpyxl
packaging
pandas
pandasql
pandocfilters
paramiko
parso
patsy
pep517pip
pickleshare
Pillow
pip
pip-tools
pkginfo
pluggy
prometheus-client
prompt-toolkit
psutil
pure-eval
py
pycodestyle
pycparser
pygame
Pygments
PyJWT
PyMeeus
pyparsing
PyPDF2
pyperclip
pypng
PyQt5
PyQt5-Qt5
PyQt5-sip
pyrsistent
pytest
pytest-runner
python-dateutil
pytz
pywin32
pywin32-ctypes
pywinauto
pywinpty
pyzbar
pyzmq
qrcode
readme-renderer
requests
requests-ntlm
requests-toolbelt
rfc3986
rich
scikit-learn
scipy
seaborn
segno
selenium
Send2Trash
setuptools
SharePlum
six
soupsieve
speedtest-cli
SQLAlchemy
stack-data
statistics
statsmodels
tensorflow
terminado
threadpoolctl
timeout
tinycss2
toml
tomli
torch
torchvision
tornado
tqdm
traitlets
twine
tslearn
typing
types-cryptography
typing_extensions
unicodedata2
urllib3
wcwidth
webencodings
wheel
WMI
xlrd
xlwings
XlsxWriter
zipp
tkcalendar
